@import 'reset';


/*
justify-content (가로축의 레이아웃 설정)
-- flex-start: 부모요소 안짝에서 왼쪽 정렬
-- flex-end: 부모요소 안짝에서 오른쪽 정렬
-- space-between: 자식요소를 부모요소의 양끝에 붙이고 사이 간격 균등 배치
-- space-around: 각 자식요소의 양끝 여백을 균등 배치
-- space-evenly: 각 자식 요소의 양끝 여백도 동등하게 배치
-- center: 가운데 배치 

    align-items (줄바꿈 요소가 없을 때 세로 배치)
    align-content (줄바꿈 요소가 있을 때 세로 배치)
    이하 배치 방법은 justify-content와 동일

    flex속성 안에서 줄바꿈 처리하기 위해서ㅓ는 부모요소에 flex-wrap : wrap;
*/
section{
    width: 400px;
    height: 100px;
    margin: 0px auto;
    background: lightblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;

    article{
        width: 100px;
        height: 100px;
        border: 1px solid black;
        font-size: 30px;
        background: hotpink;
    }
}